<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Bright Beginnings</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<h1>Welcome to Admin Home Page</h1>
<a th:href = "@{/students}"
						 class = "btn btn-primary">List All students</a>
						
						<a th:href = "@{/facultys}"
						 class = "btn btn-success">List All Faculties</a>
</body>
</html>